<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnq-cSVJWXzjBBdG5DqCPZkmNHWkzTSCA</string>
	<key>GCM_SENDER_ID</key>
	<string>549323466460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFlutterfireExample</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-test-1c410</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-test-1c410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549323466460:ios:08d89e768750281f833619</string>
</dict>
</plist>